In [20]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
import matplotlib.pyplot as plt
import random as r
import MetroSim as met
from matplotlib.animation import FuncAnimation

In [224]:
J = 1
k = 1
def funcArray(steps, size, Temp): # Function to run through
    latt = met.Setup(size) # Set up random lattice of size^2
    ar = []
    ar.append(latt)
    s = 0
    while s < steps:
        n, m = r.randrange(0, size, 1), r.randrange(0, size, 1) # two random values for a random location on the lattice
        old  = (latt[(n-1)%size,m]*latt[n,m]) + (latt[(n+1)%size,m]*latt[n,m]) + (latt[n,(m-1)%size]*latt[n,m]) + (latt[n,(m+1)%size]*latt[n,m])
        latt[n,m] *= -1 # try flipping the spin at that site
        new  = (latt[(n-1)%size,m]*latt[n,m]) + (latt[(n+1)%size,m]*latt[n,m]) + (latt[n,(m-1)%size]*latt[n,m]) + (latt[n,(m+1)%size]*latt[n,m])
        de = -J*(new - old) # dE = Ef - Ei
        if de > 0 and r.random() > np.exp(-de/(k*Temp)):
            latt[n,m] *= -1 # Return the spin to normal if not accepted
        # The lattice wont change back unless the de is positive and the random number is above transition prob
        
        ar.append(latt)
        s += 1
        
    return ar, latt

In [225]:
h, j= funcArray(1000, 10, 1.0)

In [226]:
print(h[0])
print(j)
#print(h[999].flatten())

[[ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1 -1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1 -1 -1]
 [ 1  1  1  1  1  1  1  1  1  1]]
[[ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1 -1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1  1  1]
 [ 1  1  1  1  1  1  1  1 -1 -1]
 [ 1  1  1  1  1  1  1  1  1  1]]

In [21]:
d1 = pd.read_csv('16_25000_100_1.csv', index_col=0)
d2 = pd.read_csv('16_25000_100_8.csv', index_col=0)
d3 = pd.read_csv('16_25000_100_9.csv', index_col=0)
d4 = pd.read_csv('16_25000_200_2.csv', index_col=0)
d5 = pd.read_csv('16_25000_200_3.csv', index_col=0)
d6 = pd.read_csv('16_25000_300_10.csv', index_col=0)
d7 = pd.read_csv('16_25000_300_11.csv', index_col=0)
d8 = pd.read_csv('16_25000_300_12.csv', index_col=0)
d9 = pd.read_csv('16_25000_300_4.csv', index_col=0)
d10 = pd.read_csv('16_25000_300_5.csv', index_col=0)
d11 = pd.read_csv('16_25000_300_6.csv', index_col=0)
d12 = pd.read_csv('16_25000_300_7.csv', index_col=0)

In [23]:
frames = [d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12]
result = pd.concat(frames)

In [25]:
result.sort_values(by='T')

,T,S0,S1,S2,S3,S4,S5,S6,S7,S8,...,S246,S247,S248,S249,S250,S251,S252,S253,S254,S255
0.1:0,0.1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
0.1:104,0.1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
0.1:103,0.1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
0.1:102,0.1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
0.1:101,0.1,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3.0:236,3.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,...,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,1.0,-1.0
3.0:237,3.0,-1.0,-1.0,1.0,1.0,-1.0,-1.0,-1.0,1.0,-1.0,...,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3.0:238,3.0,-1.0,1.0,1.0,1.0,1.0,1.0,-1.0,1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3.0:240,3.0,-1.0,-1.0,1.0,1.0,1.0,-1.0,1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,1.0
3.0:299,3.0,-1.0,1.0,1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,...,-1.0,1.0,1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [28]:
print(result['T'])

0.1:0      0.1
0.1:1      0.1
0.1:2      0.1
0.1:3      0.1
0.1:4      0.1
          ...
3.0:295    3.0
3.0:296    3.0
3.0:297    3.0
3.0:298    3.0
3.0:299    3.0
Name: T, Length: 84000, dtype: float64